@{
    ViewData["Title"] = "Gummi Bear Kingdom!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Gummi>

 
<h2>
    Gummis
</h2>
<hr/>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var listGummi in Model)
    {
        <li>@Html.ActionLink(listGummi.Name, "Details", new { id = listGummi.GummiId }) | @Html.ActionLink("Edit", "Edit", new { id = listGummi.GummiId }) | @Html.ActionLink("Delete", "Delete", new { id = listGummi.GummiId })</li>   
    }
</ul>